#content {
    margin: 15px auto;
    text-align: left;

}
#mainContent{
    width:1100px;
    margin: 0 60px 24px;
    background-color: #202020;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    float: left;
}
#mainContent .headtext{
    width: 1052px;
    text-align: left;
    display: block;
    padding: 7px 24px 10px;
    font-size: 32px;
}

#about {
    font-family: "Segoe UI", sans-serif, arial;
    float: left;
    margin: 24px 0 24px 24px;
    padding: 12px;
    background-color: #fff;
    width: 750px;
    color: #222;
    overflow: hidden;
    font-size: 16px;
}
#mission {
    font-family: "Segoe UI", sans-serif, arial;
    float: right;
    margin: 0 24px 24px 0;
    padding: 12px;
    background-color: #fff;
    width: 750px;
    height: 175px;
    color: #222;
    overflow: hidden;
    font-size: 16px;

}

.infohead {
    font-family: "Segoe UI Light", sans-serif, arial;
    color: #1BA1E2;
    font-size: 24px;
    border-bottom: 2px solid #202020;
}

@media only screen and (min-width: 1330px) {

    #content {

    }

    #mainContent {
        width: 1800px;
    }

    #mainContent .headtext {
        width: 1752px;
    }


    #desc {
        width: 620px;
    }

    #extrainfo {
        width: 904px;
    }

    footer {
        
    }

}

