/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    font-family: "Segoe UI Light", sans-serif, arial;
}

body {
    text-align: center;
}

.headtext {
    background-color: #1BA1E2;
    color: #fff;
    font-size: 48px;
    padding: 7px 12px 10px;
    margin: 0 6px 0 0;
}

header {
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

header .headtext {
    float: left;
    display: inline-block;
}

nav a {
    display: inline;
    padding: 35px 1.25% 17px;
    font-size: 24px;
    color: #fff;
    text-decoration: none !important;
}

nav a:hover {
    background-color: #1BA1E2;
    -webkit-box-shadow: 0 0 5px #0097e0;
    -moz-box-shadow: 0 0 5px #0097e0;
    box-shadow: 0 0 5px #0097e0;
}

nav {
    background-color: #202020;
    display: block;
    padding: 35px 0 16px;
    text-align: left;
}

#content {
    margin: 15px auto;
    text-align: left;
    width: 960px;
}

aside {
    width: 296px;
    margin: 0 0 24px 24px;
    background-color: #202020;
    float: left;
    padding: 0 0 24px;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

aside .headtext {
    width: 272px;
    display: block;
    text-align: center;
    margin: 0 0 24px;
}

#productseries {
    display: block;
    font-size: 24px;
    width: 200px;
    padding: 12px 24px;
    background-color: #1BA1E2;
    color: #fff;
    margin: 0 0 0 24px;
    text-decoration: none !important;
}

#productseries:hover {
    background-color: #7ec1e2;
    -webkit-box-shadow: 0 0 5px #0097e0;
    -moz-box-shadow: 0 0 5px #0097e0;
    box-shadow: 0 0 5px #0097e0;
}

#productentry {
    display: block;
    font-family: "Segoe UI", sans-serif, arial;
    font-size: 12px;
    width: 200px;
    padding: 12px;
    background-color: #fff;
    color: #222;
    margin: 0 0 0 48px;
    text-decoration: none !important;
}

#productentry:hover {
    color: #fff;
    background-color: #7ec1e2;
    -webkit-box-shadow: 00 5px #0097e0;
    -moz-box-shadow: 00 5px #0097e0;
    box-shadow: 00 5px #0097e0;
}

section {
    float: right;
    width: 592px;
    margin: 0 24px 24px;
    background-color: #202020;
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

section .headtext {
    width: 544px;
    text-align: left;
    display: block;
    padding: 7px 24px 10px;
}

#descpic img {
    float: right;
    margin: 24px;
}

#desc {
    font-family: "Segoe UI", sans-serif, arial;
    float: left;
    margin: 24px 0 24px 24px;
    padding: 12px;
    background-color: #fff;
    width: 236px;
    height: 236px;
    color: #222;
    overflow: hidden;
    font-size: 12px;
}

#extrainfo {
    width: 520px;
    padding: 12px;
    background-color: #fff;
    margin: 0 24px 24px;
}

.infohead {
    font-family: "Segoe UI Light", sans-serif, arial;
    color: #1BA1E2;
    font-size: 24px;
}

#extrainfotext {
    font-family: "Segoe UI", sans-serif, arial;
    color: #222;
    font-size: 12px;
}


@media only screen and (min-width: 1330px) {

    #content {
        width: 1344px;
    }

    section {
        width: 976px;
    }

    section .headtext {
        width: 928px;
    }

    #descpic div {
        width: 620px;
    }

    #extrainfo {
        width: 904px;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
